.about-header {
  background-color: #434954;
  padding: 0px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.about-header img {
  min-width: 100%;
  height: auto;
}

.about-info p {
  color: #697072;
  text-align: justify;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.card-background-page-about {

  ion-card {
    position: relative;
    text-align: center !important;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    margin-top:15px;
    width: 100%;
    color: #fff;
  }

}
