<ion-header>
  <ion-navbar>
    <ion-title>{{team?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<!--
<ion-content>
  <ion-item *ngFor="let member of members">
  <p>{{member.name}}</p>
  <p>{{member.position}}</p>
  <p>{{member.course}}</p>
  <p>{{member.year}}</p>
  </ion-item>
</ion-content>
-->


<ion-content class="outer-content speaker-list">




    <ion-grid fixed>
      <!--
      <ion-row align-items-stretch>
        <ion-col col-12 col-md-6 align-self-stretch align-self-center approxItemHeight="457px">
          <ion-card>
            <img src="{{team?.picture}}"/>
            <ion-card-content>
              <ion-card-title>   </ion-card-title>
              <p>{{team?.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    -->

      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center approxItemHeight="457px">
          <ion-card>
            <img src="{{team?.picture}}"/>
            <ion-card-content>
              <ion-card-title>   </ion-card-title>
              <p>{{team?.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let member of members" approxItemHeight="457px">

          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none>
                <ion-avatar item-start>
                  <img src="{{member.profilePic}}" style="height: 90px; width: 90px;">
                </ion-avatar>
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                <h2>{{member.name}} | {{member.position}} | {{member.course}} | {{member.year}}</h2><br>
                <p>{{member.Biography}}</p>
              </ion-list>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
