<ion-header>
  <ion-navbar>
    <!-- change this to title of speech -->
    <ion-title>Speaker Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="speaker-detail">

<ion-card *ngIf="speaker">
  <img [src]="speaker.profilePic" style="width: 100%; margin-left:auto; margin-right:auto;"/>
  <ion-card-content>
    <ion-card-title>
      {{speaker?.name}}
      </ion-card-title>
    <p>
      {{speaker?.about}}
    </p>
  </ion-card-content>
</ion-card>

  <!--
  <div text-center *ngIf="speaker">
    <img [src]="speaker.profilePic" [alt]="speaker.name"><br>

  </div>

  <p>{{speaker?.about}}</p>
-->
</ion-content>
