$categories: (
 ionic: color($colors, primary),
 economics: yellow,
 miscellaneous: blue,
 politics: green,
 seminars: red,
 videomessage: pink,
 paneldebate: orange,
 summitball: purple,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
