$categories: (
 ionic: color($colors, primary),
 economics: #AC282B,
 miscellaneous: #8E8D93,
 politics: #FE4C52,
 seminars: #FD8B2D,
 videomessage: #FED035,
 paneldebate: #69BB7B,
 summitball: #3BC7C4,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
